main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  font-family: system-ui;
  word-break: break-all;
}
img {
  max-width: 320px;
  height: auto;
}

/* section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
section img {
  max-width: 400px;
  height: auto;
} */
